
body {
    background: #281927;
    font-family: Arial;
}
h1 {
    color: red;
}
/* 1iT49S7qLWfMSlW1YwFFWL1v11leTPaZjZjo7JI3nYjKZM97dYJwWMBXTwcJxB9neNSgXqQ1UhjCpU14vHy8OvlgfR4col7wpcz9Z7fiGdmr86ndV368IwMGubGduQvmG1Tf4Cej9x35KB6nf1LRl63CaMHXLTXtzwJj5zglzkzud4ElzUd00t0ZIRVLaWW0smYTGtsY */
